<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated sensIDL -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.fzi.sensidl.design.sensidl.presentation.sensidlModelWizardID"
            name="%_UI_sensidlModelWizard_label"
            class="de.fzi.sensidl.design.sensidl.presentation.sensidlModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/sensidlModelFile.gif">
         <description>%_UI_sensidlModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated sensIDL -->
      <editor
            id="de.fzi.sensidl.design.sensidl.presentation.sensidlEditorID"
            name="%_UI_sensidlEditor_label"
            icon="icons/full/obj16/sensidlModelFile.gif"
            extensions="sensidl"
            class="de.fzi.sensidl.design.sensidl.presentation.sensidlEditor"
            contributorClass="de.fzi.sensidl.design.sensidl.presentation.sensidlActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated sensIDL -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.fzi.sensidl.design.sensidl.DataRepresentation.presentation.DataRepresentationModelWizardID"
            name="%_UI_DataRepresentationModelWizard_label"
            class="de.fzi.sensidl.design.sensidl.DataRepresentation.presentation.DataRepresentationModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/DataRepresentationModelFile.gif">
         <description>%_UI_DataRepresentationModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated sensIDL -->
      <editor
            id="de.fzi.sensidl.design.sensidl.DataRepresentation.presentation.DataRepresentationEditorID"
            name="%_UI_DataRepresentationEditor_label"
            icon="icons/full/obj16/DataRepresentationModelFile.gif"
            extensions="datarepresentation"
            class="de.fzi.sensidl.design.sensidl.DataRepresentation.presentation.DataRepresentationEditor"
            contributorClass="de.fzi.sensidl.design.sensidl.DataRepresentation.presentation.DataRepresentationActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated sensIDL -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.fzi.sensidl.design.sensidl.DataTransmission.presentation.DataTransmissionModelWizardID"
            name="%_UI_DataTransmissionModelWizard_label"
            class="de.fzi.sensidl.design.sensidl.DataTransmission.presentation.DataTransmissionModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/DataTransmissionModelFile.gif">
         <description>%_UI_DataTransmissionModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated sensIDL -->
      <editor
            id="de.fzi.sensidl.design.sensidl.DataTransmission.presentation.DataTransmissionEditorID"
            name="%_UI_DataTransmissionEditor_label"
            icon="icons/full/obj16/DataTransmissionModelFile.gif"
            extensions="datatransmission"
            class="de.fzi.sensidl.design.sensidl.DataTransmission.presentation.DataTransmissionEditor"
            contributorClass="de.fzi.sensidl.design.sensidl.DataTransmission.presentation.DataTransmissionActionBarContributor">
      </editor>
   </extension>

</plugin>
