/.CSharpDTOGenerator.java._trace
/.CSharpGenerator.java._trace
/.CSharpDTOGenerator.xtendbin
/.CSharpGenerator.xtendbin
/CSharpDTOGenerator.java
/CSharpGenerator.java
/.CSharpUtilityGenerator.java._trace
