<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.fzi.de/sensidl/language/Sensidl" 
       class = "de.fzi.sensidl.language.sensidl.SensidlPackage"
       genModel = "model/generated/Sensidl.genmodel" /> 
	
  </extension>



</plugin>
