/.CGenerator.java._trace
/.CDTOGenerator.java._trace
/.DataTypes.java._trace
/DataTypes.java
/CDTOGenerator.java
/CGenerator.java
/.CDTOGenerator.xtendbin
/.CGenerator.xtendbin
/.DataTypes.xtendbin
/.ConcreteCDTOGenerator.java._trace
/.HeaderDTOGenerator.java._trace
/.CDTOFileGenerator.java._trace
