<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated sensIDL -->
      <package
            uri="http://fzi.de/sensidl/design/1.0"
            class="de.fzi.sensidl.design.sensidl.sensidlPackage"
            genModel="model/sensIDL.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated sensIDL -->
      <package
            uri="http://fzi.de/sensidl/design/representation/1.0"
            class="de.fzi.sensidl.design.sensidl.dataRepresentation.DataRepresentationPackage"
            genModel="model/sensIDL.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated sensIDL -->
      <package
            uri="http://fzi.de/sensidl/design/transmission/1.0"
            class="de.fzi.sensidl.design.sensidl.dataTransmission.DataTransmissionPackage"
            genModel="model/sensIDL.genmodel"/>
   </extension>

</plugin>
