/.DTOGenerator.java._trace
/.DecoderGenerator.java._trace
/.EcorePersistenceHelper.java._trace
/.EncoderGenerator.java._trace
/.ISensidlCodeGenerator.java._trace
/.ListenerGenerator.java._trace
/.SensidlGenerator.java._trace
/.SensidlPseudoCodeGenerator.java._trace
/DTOGenerator.java
/DecoderGenerator.java
/EcorePersistenceHelper.java
/EncoderGenerator.java
/ISensidlCodeGenerator.java
/ListenerGenerator.java
/SensidlGenerator.java
/SensidlPseudoCodeGenerator.java
