/.DataAdjustementFilter.java._trace
/.DataSetFilter.java._trace
/.ElementFilter.java._trace
/.DataAdjustementFilter.xtendbin
/.DataSetFilter.xtendbin
/DataAdjustementFilter.java
/DataSetFilter.java
/.ElementFilter.xtendbin
/ElementFilter.java
/.UtilityDataFilter.java._trace
